@import '../../../assets/style/variables';

.logo {
    grid-area: logo;

    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $logo-bgcolor;
    text-decoration: none;
    
    span {
        font-size: 2.8rem;
        margin-right: 10px;
        text-align: center;
        color: $white;
    }

    p {
        color: $white;
        font-size: 1.3em;
    }
}
