@import '../../assets/style/variables';

.BtnIcon {
    border: none;
    background: transparent;
    font-size: 1.5em;
    outline: none;
    padding: 2px 4px;
    border-radius: 4px;
    width: 32px;

    &:disabled {
        background: transparent;
        cursor: not-allowed;

        &:hover {
            background: transparent;
            cursor: not-allowed;
        }
    }

    &:hover {
        background: $nav-item-hover;
        color: $white;
        cursor: pointer;

        &:disabled {
            color: $gray;
        }
    }

}