@import '../../assets/style/variables';

.Form {
    .Fields {
        padding: 10px 5px;
    }
    .Actions {
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px 5px;

        button {
            margin-left: 5px;
        }
    }
}