@import '../../assets/style/variables';

.Table {
    width: 100%;
    border: 0;
    border-collapse: collapse;

    thead {
        tr {
            &:first-child {
                th {
                    background: $dark-gray;
                    padding: 10px 0;
                    text-align: center;
                    color: $white;
                }
            }
            &:last-child {
                th {
                    background: $gray;
                    padding: 10px 5px;
                    text-align: left;
                }
            }
        }
    }

    tbody {
        tr {
            &:hover {
                background: $light-gray;
            }
        }
    }
    tfoot {
        tr {
            &:first-child {
                td {
                   text-align: center;
                   padding: 15px;
                }
            }
        }
    }
}

.TablePagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .PaginationPages {

        select {
            margin: 0 10px;
            padding: 5px;
            background: transparent;
            border-radius: 4px;
            font-family: 'Roboto-Regular';
        }

    }

    .PaginationControls {

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            margin: 0 10px;
        }
    }
}